body {
    margin: 0;
    padding: 1rem;
    font-family: monospace;
    background: var(--bg);
    color: var(--frontColor);
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

:root {
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
    --bg: var(--white);
    --frontColor: var(--black);
}

.light-theme {
    --bg: var(--white);
    --frontColor: var(--black);
    --btnbg: var(--black);
    --btnfrontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --frontColor: var(--green);
    --btnbg: var(--white);
    --btnfrontColor: var(--black);
}

* {
    color: var(--frontColor);
    font-family: helvetica;
}
.btn {
    color: var(--btnfrontColor);
    background: var(--btnbg);
}
.btn {
    position: absolute;
    top: 20px;
    left: 350px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: nome;
    color: var(--btnfrontColor);
    background: var(--btnbg);
}
.btn:focus { outline-style: none; }
